@import url("https://fonts.googleapis.com/css2?family=Gruppo&family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  line-height: 1.6rem;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

#loading {
  width: 2.5rem;
  height: 2.5rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #ed5e93;
  border-radius: 100%;
  margin: 10rem auto;
  display: none;
  animation: spin 1s infinite linear;
}

#loading.display {
  display: block;
}

.heading {
  font-size: 2.4rem;
  font-family: "Gruppo", cursive;
  text-align: center;
  background-color: #ed5e93;
  color: white;
  padding: 3rem 0;
}

.container {
  width: 80%;
  max-width: 70rem;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 3rem;
}

.card {
  max-width: 345px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
  transition: 0.3s all;
}

.product-image {
  display: block;
  width: 100%;
  height: 26rem;
  object-fit: cover;
}

.card-content {
  padding: 1.2rem 2rem;
}

.product-brand {
  font-size: 1.4rem;
  margin: 0.5rem 0;
  color: #919191;
}

.product-name {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.product-description {
  font-size: 1.2rem;
  margin: 1.2rem 0;
  color: #303030;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price {
  font-weight: bold;
  font-size: 1.8rem;
}

.product-price::before {
  content: "$";
  margin-right: 0.2em;
}

.product-link {
  font-weight: bold;
  padding: 0.5rem 2rem;
  background: #5e5e5e;
  color: white;
  border-radius: 5px;
  letter-spacing: 0.2rem;
}

.product-link:hover,
.product-link:active {
  background: #ed5e93;
}

@media (min-width: 768px) {
  .heading {
    font-size: 4.2rem;
    padding: 6rem;
  }
  .product-description {
    display: none;
  }

  .card:hover .product-description,
  .card:active .product-description {
    display: block;
  }

  .container:hover .card,
  .container:active .card {
    filter: blur(2px);
    opacity: 0.5;
    transform: scale(0.95);
    box-shadow: none;
  }

  .container:hover .card:hover,
  .container:active .card:active {
    filter: blur(0);
    opacity: 1;
    background: #fff4fa;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
